html {
    font-family: whitney ssm a,whitney ssm b,lucida grande,lucida sans,Verdana,Helvetica,Arial,sans-serif;
}

h3,h4,h5,h3 a,h4 a,h5 a,.bsa-cpc .default-title:before,.aside a:not(.btn):hover,.html-css_building-your-first-web-page .building-your-first-web-page a,.html-css_getting-to-know-html .getting-to-know-html a,.html-css_getting-to-know-css .getting-to-know-css a,.html-css_opening-the-box-model .opening-the-box-model a,.html-css_positioning-content .positioning-content a,.html-css_working-with-typography .working-with-typography a,.html-css_setting-backgrounds-and-gradients .setting-backgrounds-and-gradients a,.html-css_creating-lists .creating-lists a,.html-css_adding-media .adding-media a,.html-css_building-forms .building-forms a,.html-css_organizing-data-with-tables .organizing-data-with-tables a,.html-css_writing-your-best-code .writing-your-best-code a,.advanced-html-css_performance-organization .performance-organization a,.advanced-html-css_detailed-css-positioning .detailed-css-positioning a,.advanced-html-css_complex-selectors .complex-selectors a,.advanced-html-css_responsive-web-design .responsive-web-design a,.advanced-html-css_preprocessors .preprocessors a,.advanced-html-css_jquery .jquery a,.advanced-html-css_css-transforms .css-transforms a,.advanced-html-css_transitions-animations .transitions-animations a,.advanced-html-css_feature-support-polyfills .feature-support-polyfills a,.advanced-html-css_semantics-accessibilit .semantics-accessibility a {
    color: #2db34a;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #42444e;
    color: #fff;
    padding: 20px;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.title h1 {
    margin-top: 0px;
}

.title h1:hover {
    color: #2db34a;
}

.title p {
    margin-top: 15px;
    color: #9799a7;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.section-title {
    color: #9799a7;
    margin: 0;
}

.item-sidebar {
    margin-top: 30px;
}

.sidebar ul li a:hover {
    color: #2db34a;
}

.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.item-sidebar:first-child {
    margin-top: 0;
}

.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile {
    display: flex;
    align-items: center; /* Alinear elementos verticalmente */
    margin-top: 50px; /* Ajusta según necesites */
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.profile-info {
    display: flex;
    align-items: center; /* Alinear elementos verticalmente */
}

.profile-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}